/* Author: Steven Sousa - Date: Apr 18 2023
TASK: In this exercise you will build your first CSS file. Please extend the CSS file "styling.css" in a way,that all h1
headings are red and all paragraphs have a green background. Then fill the HTML file "index.html" so that it contains
1 h1 heading and one paragraph.
 */

h1{
    color:red;
}

p{
    background-color: green;
}