/* Author: Steven Sousa - Date: Apr 19 2023
TASK: Use the box model to create a box which has a 5px wide solid green border and contains the centered word "CENTRAL".
The box should have a distance of 50 px to all page-borders (or to be more precise, to the div element). */

div{
    text-align: center;
    border: 5px solid green;
    margin: 50px;
}